/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
  margin-top:5px;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
  outline: none;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 85%;
  border-left: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width:266px;
  border-top:1px solid #EFEFEF;
}

.autocomplete li{
  text-align: left;
  
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;

  .header-section{
    display:inline-block;
    float:left;
    font-family:Clan OT;
    font-size:14px;
    color:grey;
    padding: 5px;
    width:21%;
  }

}

.autocomplete li.active{
  width: 100% !important;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E3E5E8;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}


.autocomplete ul li ul.section{
    position: relative;
    width: 78%;
    margin-left: 0;
    border: 0;
    padding: 5px;
    padding-left:16px;
}

.autocomplete ul li ul li.sub-menu{
    position: relative;
    background-color:white;
    font-family:Clan OT;
    font-size:12px;
    padding:5px;
    line-height: 25px;
    cursor:pointer;
}

.autocomplete{

/* Search input animation */
.search-box {

  /*
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px; 
  */
  width:266px;
  height:37px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
  font-family:Clan OT;
  font-size:14px;
  
}
.search-box + label .search-icon {
  color: black;
}
/*
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}

.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
*/
#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  top:1px;
  color: white;
  cursor: pointer;
}


}