body {
	background-color: #E3E5E8 !important;
}

.alert-container {

	margin: 135px auto 0 auto;

	.far-duty{
		margin: 12px 12px -12px 12px;

		.glyphicon-download-alt {
			margin-left: 60px;
		}
	}

	.alert-details {

		border: 1px solid #B5B5B5;
		background-color: #FFF;
		margin: 15px;

		.v-line {
		    width: 2px;
		    background-color: #30B0A4;
		    position:absolute;
		    top: 400px;
		    bottom: 140px;
		    left: 157px;
		    height:355px;
		}

		.events-icon {
			margin-right: 8px;
		}

		.circle {
			width: 10px;
			height: 10px;
			background: #30B0A4;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			float: left;
    		margin: 2px 0px 0px 30px;
		}

		.blue-font {
			color: #009CDE;
		}

		.header-info {
			border: 1px solid #B5B5B5;
			margin: 15px;

			.header {
				padding-left: 15px;
				margin-top: 15px;
			}
		}

		.division {
			clear: both;
			border-top: 1px solid #B5B5B5;
			margin: 15px;
		}

		.legal-section {
			padding-left: 15px;
			margin-bottom: 12px;

			.contractual {
				width: 101%;
			}
		}

		.event-update {
			padding-left: 23px;
		}

		.events {
			padding-left: 20px;

			.event-date {
				margin-left: -23px;
				float: left;
			}

			.expandable-message {
				padding-left: 25px;

				.sub-message {
					font-size: 10px;
				}
			}
		}

		.colored-row {
			background-color: #DFEAE8;
		}

		.row-spacing {
			margin-top: 14px;
		}

		.content-spacing {
			margin-top: 8px;
		}

		.page-img {
			height: 20px;
			width: 15px;
			background-image: url("../resources/images/page-icon.png");
		}

		.watch-img {
			height: 12px;
			width: 19px;
			background-image: url("../resources/images/watch-alert-preview.png");
			margin-top: 6px;
		}

		.user-img {
			height: 18px;
			width: 14px;
			background-image: url("../resources/images/user-alert-preview.png");
			margin-top: 6px;
			margin-right: 15px;
		}

		.chat-img {
			height: 16px;
			width: 20px;
			background-image: url("../resources/images/chat-icon.png");
			margin-top: 12px;
		}

		.sync-img {
			height: 18px;
			width: 24px;
			background-image: url("../resources/images/sync-icon.png");
			margin: 4px 4px 0 -1px;
		}

		.alert-img {
			height: 18px;
			width: 20px;
			background-image: url("../resources/images/alert-icon.png");
			margin: 1px 5px 0px 1px;
		}

		.plus-img {
			height: 16px;
			width: 16px;
			background-image: url("../resources/images/add-icon.png");
			margin: 5px 5px 0px 1px;
			float: right !important;
		}

		.minus-img {
			height: 2px;
			width: 17px;
			background-image: url("../resources/images/minuss-icon.png");
			margin: 16px 5px 0px 1px;
			float: right !important;
		}

	}
}