.solutions {

	.blue-font {
		color: #4497D9;
	}

	
	/* solutions filter - left side */
	.solutions-filter {
		margin-top: 20px;
		background: #A7A7A7;

		.max-width {
			width: 100%;
		}

		.white-font {
			color: #FFFFFF;
		}

		.btn-apply {
			background-color: #4497D9;
		}

		.btn-group {
			width: 100%;

			.btn {
				min-width: 33%;
			}
		}

		.group-spacing {
			margin-top: 20px;
		}

		.grey-filters {
			border: 1px solid #FFFFFF;
			background: #A7A7A7;
		}

		.white-filters {
			border: 1px solid #FFFFFF;
			background: #FFFFFF;
		}

		.text-left {
			text-align: left;
		}

		.text-right {
			text-align: right;
		}

		.no-text-shadow {
			text-shadow: none;
		}

		.caret {
			float: right;
		}

		.arrow-dropdown-img{
		    height: 9px;
		    width: 18px;
		    background: url("../resources/images/arrow-dropdown.png");
		    display: inline-block;
		    float: right;
    		margin-top: 7px;
		}
	}




	/* solutions result - right side*/
	.solutions-result {

		.divide-line {
			border: 1px solid #F1F3F3;
			margin-bottom: 15px;
		}

		.solid-border {
			border: 1px solid #D3D6D7;
		}

		.solid-border-down {
			border-bottom: 1px solid #D3D6D7;
		}

		.solid-border-top {
			border-bottom: 1px solid #D3D6D7;
		}

		.row-spacing {
			height: 30px;
			margin-top: 4px;

			.font-grid{
				font-size:12px;
				font-family:Clan OT;
				color:#555555;

				.link{
					color:#009BDD;
					font-weight: bold;
				}
			}
		}

		.grey-row {
			background-color: #F3F3F3;
			height: 100%;
		    display: inline-block;
		    width: 100%;
		    line-height:40px;
		}

		.small-icon {
			font-size: 7px;
		}

		.large-font {
			font-size: 20px;
		}

		.medium-font {
			font-size: 16px
		}
	}
}