<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="http://www.emc.com/_admin/js/jquery.js"></script>


<style type="text/css">
    snap-content {
  background-color: white;
  border-left: 1px solid #ccc;
}
</style>



<div id="tooltipDiv" class="tooltip-section" ng-click="open()">

  <div class="upper-tooltip">
    <div class="flight-status">
      <div class="arrow-up-alert-img"></div>
      <div style="font-weight: bold;
          font-family: Clan OT;
          font-size: 14px;
          color: #5D5D5D;
          float: left;
          margin-left: 10px;
          margin-top: 7px;">DELAY</div>
      <div style="float:right;display:inline-block;">
        <div class="watch-alert-img" style="display:inline-block;float:left;margin-right:10px;margin-top:10px;"></div>
        <div style="display:inline-block;float:left;margin-right:10px;margin-top:7px;">3</div>
        <div class="user-alert-img" style="display:inline-block;float:left;margin-right:10px;"></div>
        <div style="display:inline-block;float:left;margin-right:10px;margin-top:7px;">1</div>
      </div>
    </div>
    <div style="height:100%;width:100%;display:inline-block;">
      <div style="float:left;display:inline-block;width:33%;margin-top:5px;">
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;">Pairing</div>
          <div style="font-size:12px;color:#009BDD;font-family:Clan OT;font-weight:bold;margin-top:5px;">H2008, T2108</div>
      </div>
        <div style="float:left;display:inline-block;width:33%;">
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;">Crew</div>
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;font-weight:bold;margin-top:5px;">2 Pilots / 1 FA</div>
      </div>
        <div style="float:left;display:inline-block;width:33%;">
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;">Last Updated</div>
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;font-weight:bold;margin-top:5px;">22:45 GTM</div>
      </div>
    </div>
  </div>

  <div style="height:100%;width:100%;display:inline-block;">
    <div style="width:100%;height:30px;display:inline-block;margin-top:5px;">
      <div style="font-weight: bold;
          font-family: Clan OT;
          font-size: 14px;
          color: #41ABE3;
          float: left;
          margin-left: 15px;
          margin-top: 7px;">Flight 250 ORI - DES (HH:MM)</div>
      <div style="float:right;display:inline-block;">
        <div style="display:inline-block;float:left;margin-right:10px;margin-top:7px;color:#5D5D5D;font-size:12px;font-family:Clan OT;">08/20/15</div>
      </div>

      <div style="height:100%;width:100%;display:inline-block;    margin-top: 8px;
        margin-left: 4%;">
        <div style="float:left;display:inline-block;width:33%;margin-top:5px;">
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;">Flight Status</div>
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;font-weight:bold;margin-top:5px;">Delay</div>
        </div>
        <div style="float:left;display:inline-block;width:33%;">
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;">Dep sch/ est</div>
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;font-weight:bold;margin-top:5px;">HH:MM/ HH:MM</div>
        </div>
        <div style="float:left;display:inline-block;width:33%;">
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;">Arr sch/ est</div>
          <div style="font-size:12px;color:#5D5D5D;font-family:Clan OT;font-weight:bold;margin-top:5px;">HH:MM/ HH:MM</div>
        </div>
      </div>
    </div>
  </div>

</div>



<snap-drawer>
  <div class="snap-drawer">
      
      <div class="user">
        <div>Mathew  Smith</div>
      </div>

      <div class="navigate-dashboard" ng-click="navigateTo('dashboard')">
        <div class="dashboard-img"></div>
        <div class="dashboard">Dashboard</div>
      </div>

      <div class="navigate-schedule" ng-click="navigateTo('schedule')">
        <div class="schedule-img"></div>
        <div class="schedule">Schedule display</div>
      </div>

      <div class="nagivate-alerts">
        <div class="alerts-img"></div>
        <div class="alerts">Alerts</div>
      </div>

      <div class="navigate-history">
        <div class="history-img"></div>
        <div class="history">History</div>
      </div>

      <div class="navigate-profile" ng-click="isCollapsed = !isCollapsed">
        <div class="myprofile-img"></div>
        <div class="profile">My Profile</div>
      </div>

      <div class="profile-collapsed" collapse="!isCollapsed">

        <div class="profile-information">
          <div class="information">Information</div>
        </div>

        <div class="profile-notifications">
          <div class="notifications">Notifications</div>
          <div class="oval">2</div>
        </div>

        <div class="profile-list">
          <div class="list">To do lists</div>
        </div>

        <div class="profile-settings">
          <div class="settings">Settings</div>
        </div>

      </div>

      <div class="navigate-help">
        <div class="help-img"></div>
        <div class="help">Help</div>
      </div>

  </div>
</snap-drawer>




<snap-content style="background-color:#E3E5E8;">

  <div class="schedule-snap-content">
    
    <!-- header start -->
    <header name="'Schedule display'" sectionname="'Schedule display'"></header>
    <!--  header end -->    

    <!--  body start -->
    <div class="schedule-snap-body">
      
      <div class="flights-total-status">

      <div class="date-row">
      	<div>Date</div>	
      	<div class="date">DD HH YY</div>	
      </div>

       <div class="pairings-row">
      	<div class="pairings">Total Pairings</div>	
      	<div class="row-value">####</div>	
      </div>

      <div class="flights-row">
      	<div class="flights">Total Flights</div>
      	<div class="row-value">####</div>
      </div>

      <div class="scheduled-row">
      	<div class="scheduled">Scheduled</div>	
      	<div class="row-value">####</div>	
      </div>

      <div class="irrop-row">
      	<div class="irrop">IRROP</div>	
      	<div class="row-value">####</div>	
      </div>

           <div class="open-row">
      	<div class="open">Open</div>	
      	<div class="row-value">####</div>	
      </div>

      <div class="alert-displayed-row" ng-click="showMyAlerts = !showMyAlerts">
      	<div class="alert-displayed">Alert Displayed</div>	
      	<div class="row-value" ng-class="{'active-link': showMyAlerts}">####</div>	
      </div>

      <div class="total-alerts-row" ng-click="showAlertTotals = !showAlertTotals">
      	<div class="total-alerts">Total Alerts</div>	
      	<div class="row-value" ng-class="{'active-link': showAlertTotals}">####</div>	
      </div>

      </div>


  <!-- Alert Totals -->
  <div id="alert-totals" style="width:92%;margin-left:4%;height:50px;background-color:#EFECEC;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;"
  collapse="!showAlertTotals">


      <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:40px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#FC6620;">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">CANCEL</div>
      </div>

      <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#FBCC2E">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">DELAY</div>
      </div>

      <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

  </div>


  <!-- My Alerts -->

  <div id="my-alerts" style="width:92%;margin-left:4%;height:50px !important;background-color:#EFECEC;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;"
  collapse="!showMyAlerts"
  >    
      <div style="color:black;font-family:Clan OT;font-size:12px;margin-left:40px;margin-top:17px;font-weight:bold;float:left;width:5%;">
        My Alerts
      </div>

      <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:40px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#FC6620;">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">CANCEL</div>
      </div>

      <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#FBCC2E">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">DELAY</div>
      </div>

      <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

          <div style="color:#555555;font-family:Clan OT;font-size:15px;margin-left:15px;margin-top:10px;float:left;width:9.5%;">
          <div class="square" style="background-color:#CCCCCC">
          <div style="font-family: Clan OT;
            font-size: 12px;
            color: #727272;
            text-align: center;
            padding-top: 6px;">00</div>
          </div>  
          <div style="float:left;font-size:15px;margin-top:5px;margin-left:10px;color:#727272;font-family:Clan OT;">TYPE N</div>
      </div>

  </div>


  <!-- Scheduled Display -->

  <div style="margin-top:20px;text-align:center;">
  <button type="button" ng-click="addTask()" style="color:white;">Add Task</button>
  <button type="button" ng-click="removeTask()" style="color:white;">Remove Task</button>
  <button type="button" ng-click="changeTimeDomain('1hr')" style="color:white;">1 HR</button>
  <button type="button" ng-click="changeTimeDomain('3hr')" style="color:white;">3 HR</button>
  <button type="button" ng-click="changeTimeDomain('6hr')" style="color:white;">6 HR</button>
  <button type="button" ng-click="changeTimeDomain('1day')" style="color:white;">1 DAY</button>
  <button type="button" ng-click="changeTimeDomain('1week')" style="color:white;">1 WEEK</button>
  <button type="button" ng-click="zoom('left')" style="color:white;"><</button>
  <button type="button" ng-click="zoom('right')" style="color:white;">></button>
  <button type="button" ng-click="viewActualTime()" style="color:white;">Actual Date</button>

  <button type="button" ng-click="assignFlight()" class="button-assign button-status hide-element">+</button>
  <button type="button" ng-click="processFlight()" class="button-process button-status hide-element">W</button>
  <button type="button" ng-click="resolveFlight()" class="button-resolve button-status hide-element">R</button>


  <button type="button" ng-click="clearFlights()" style="color:white;">Clear</button>
  <button type="button" ng-click="pageDown()" style="color:white;"><span class="glyphicon glyphicon-menu-down"></span></button>
  <button type="button" ng-click="pageUp()" style="color:white;"><span class="glyphicon glyphicon-menu-up"></span></button>
  </div>




  <div id="gantt-chart" style="margin-top:20px;margin-left:20px;">
  <div class="circle"></div>
  </div>
</div>



</div>
</snap-content>

<style type="text/css">
g.tooltip {   
          
  width: 373px;                  
  height: 181px;                 
  background: white;   
  border: 1px solid #D3D3D3;      
  border-radius: 8px;           
}

div.tooltip {   
  position: absolute;            
  width: 373px;                  
  height: 181px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 1px solid #D3D3D3;      
  border-radius: 8px;           
  pointer-events: none;         
}


.square {
  width: 30px;
  height: 30px;
  background: red;
  display: inline-block;
  float:left;
}

.active-link{
  font-weight: bold;
}

.menu {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 101;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #434343;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  padding: 10px;
}

.header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 50px;
  background-color: #e4e4e4;
  border-bottom: 1px solid #cecece;
}

.menu-btn {
  background-color: transparent;
  border: none;
  color: #222222;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  left: -8px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-checkbox:checked ~ .overlay {
  display: block;
}
.menu-checkbox:checked ~ .menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu-checkbox:checked ~ .header .three-lines {
  position: relative;
  left: -3px;
}
</style>