<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="http://www.emc.com/_admin/js/jquery.js"></script>

<snap-drawer>
  <div style="height:100%;width:240px;background-color:#393F51;font-size:14px;color:white;font-family:Clan OT;">
      <div style="height:50px;background-color:#61A9E3;">
        <div style="font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    line-height: 70px;
    width: 100%;
    margin-left: 20px;">Mathew  Smith</div>
      </div>

      <div style="height:50px;border-bottom:1px solid #262A3F;" ng-click="navigateTo('dashboard')">
        <div class="dashboard-img" style="float: left;
    margin-left: 15px;
    margin-top: 20px;"></div>
        <div style="    float: left;
    margin-left: 15px;
    margin-top: 20px;">Dashboard</div>
      </div>

      <div style="height:50px;border-bottom:1px solid #262A3F;" ng-click="navigateTo('schedule')">
                <div class="schedule-img" style="float: left;
    margin-left: 15px;
    margin-top: 20px;"></div>
        <div style="    float: left;
    margin-left: 15px;
    margin-top: 20px;">Schedule display</div>
      </div>

      <div style="height:50px;border-bottom:1px solid #262A3F;">
                <div class="alerts-img" style="float: left;
    margin-left: 15px;
    margin-top: 20px;"></div>
        <div style="    float: left;
    margin-left: 15px;
    margin-top: 20px;">Alerts</div>
      </div>

      <div style="height:50px;border-bottom:1px solid #262A3F;">
                <div class="history-img" style="float: left;
    margin-left: 15px;
    margin-top: 20px;"></div>
        <div style="    float: left;
    margin-left: 15px;
    margin-top: 20px;">History</div>
      </div>

      <div style="height:50px;background-color:#3E4362;border-bottom:1px solid #262A3F;" ng-click="isCollapsed = !isCollapsed">
                <div class="myprofile-img" style="float: left;
    margin-left: 15px;
    margin-top: 20px;"></div>
        <div style="    float: left;
    margin-left: 15px;
    margin-top: 20px;">My Profile</div>
      </div>

      <div collapse="!isCollapsed">

        <div style="height:50px;background-color:#4E5671;border-bottom:1px solid #262A3F;">
                  <div style="    float: left;
    margin-left: 50px;
    margin-top: 20px;">Information</div>
        </div>

        <div style="height:50px;background-color:#4E5671;border-bottom:1px solid #262A3F;">
                            <div style="    float: left;
    margin-left: 50px;
    margin-top: 20px;">Notifications</div>
        <div class="oval" style="    float: right;
    margin-top: 18px;
    margin-right: 10px;
    padding-left: 13px;
    padding-top: 2px;">
          2
        </div>
        </div>

        <div style="height:50px;background-color:#4E5671;border-bottom:1px solid #262A3F;">
                            <div style="    float: left;
    margin-left: 50px;
    margin-top: 20px;">To do lists</div>
        </div>

        <div style="height:50px;background-color:#4E5671;border-bottom:1px solid #262A3F;">
                            <div style="    float: left;
    margin-left: 50px;
    margin-top: 20px;">Settings</div>
        </div>

      </div>

      <div style="height:50px;border-bottom:1px solid #262A3F;">
                <div class="help-img" style="float: left;
    margin-left: 15px;
    margin-top: 20px;"></div>
        <div style="    float: left;
    margin-left: 15px;
    margin-top: 20px;">Help</div>
      </div>

  </div>
</snap-drawer>



    

<style type="text/css">
    snap-content {
  background-color: white;
  border-left: 1px solid #ccc;
}
</style>

<snap-content style="background-color:#E3E5E8;">

<nav class="navbar navbar-default navbar-fixed-top" style="    z-index: -1;
    position: relative;">
      <div class="container" style="background-color:#009BDD;height:50px;">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <div snap-toggle="" class="nav-burger-img" style="cursor: pointer; cursor: hand;"></div>
            </li>
            <li>
              <div class="logo-united-img" style="margin-left:50px;margin-top:12px;"></div>
            </li>
          </ul>
<ul class="nav navbar-nav navbar-right">
            <li>
              <autocomplete ng-model="result" attr-placeholder="type to search flight..." click-activation="true" flights="flights" on-type="searchType" on-select="searchSelected"></autocomplete>
            </li>
            <li style="
    padding-top: 3px;
">
              <!--<div class="search-img" style="margin-right:33px;"></div>-->
            </li>
            <li style="width: 66px;
  position: relative;height: 50px;padding-top: 3px;">
              <div class="circle-msg" style="
    position: absolute;      
    margin-top: 20px;
    margin-left: 18px;
    z-index: 10;
    padding-left: 6px;
    font-family: Clan OT;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
">3</div>
              <div class="mail-img" style="margin-right:33px;position: absolute;"></div>

            </li>
            <li style="
    padding-top: 3px;
">
              <div class="myprofile-img" style="margin-right:10px;margin-top:10px;"></div>
            </li>
            <li style="
    padding-top: 3px;
">
              <div style="font-family:Clan OT; color:white;font-size:14px;margin-top:14px;margin-right:10px;">Mathew Smith</div>
            </li>
            <li style="
    padding-top: 3px;
">
              <div class="arrow-down-icon" style="margin-top:21px;margin-right:25px;" ng-click="open()"></div>
            </li>
                        <li style="
    padding-top: 7px;
">
  <label  for='menu-checkbox'>
    <div class="settings-img advanced-filter-img " for="menu-checkbox" style="margin-right:40px;">
  </label>
  </li>

          </ul>
        </div>
<!--<div style="    font-family: Clan OT;
    font-size: 20px;
    color: white;
    margin-left: 39px;
    display: inline-block;
    margin-top: 5px;
    float: left;">Schedule Display</div>
<div style="    font-family: Clan OT;
    font-size: 11px;
    color: white;
    margin-top: 15px;
    float: left;
    display: inline-block;
    margin-left: 13px;">Updated 17:17</div>-->


          <!--<div style="float:right;display:inline-block;">
        <div style="float:left;display:inline-block;font-size:14px;color:#4F5571;font-family:Clan OT;margin-top: 6px;
    margin-right: 10px;font-weight:bold;">Sort by</div>
        <div style="border:1px solid #4F5571;width:106px;height:32px;display:inline-block;margin-right:38px;">
          <div style="font-family:Clan OT;font-size:14px;color:#4F5571;float:left;margin-top:5px;margin-left:8px;">Flight#</div>
          <div class="img-arrow-down" style="float:left;margin-top:12px;margin-left:15px;"></div>
        </div>
      </div>-->

      </div>





    </nav>


<div class="container" style="position:relative; z-index:-2;">
<div class="row">
  <div class="col-md-6" style="z-index:-2;">
      <div style="width: 100%;height: 339px;display: inline-block;background-color:white;border: 1px solid #D3D3D3;">
      <div style="height:55px;width:98%;border-bottom:1px solid #DDE1E1;margin-left:1%;">
        <div style="    float: left;
    display: block;
    font-size: 18px;
    font-family: Clan OT;
    margin-top: 20px;
    color: #555555;
    margin-left: 1%;">Pairing Status - 24hs</div>
          <div style="float:right;display:block;font-size:10px;font-family:Clan OT;margin-top:24px;color:#009BDD;font-weight:bold;margin-right:15px;">View all</div>
      </div>

        <div style="width: 98%;height: 70px;border-bottom:1px solid #DDE1E1;margin-left: 1%;">
          
          <div class="Table" style="    font-family: Clan OT;
    font-size: 13px;
    color: #555555;
    margin-left: 5%;">
            <div class="Heading">
                <div class="Cell">
                    <p>Date</p>
                </div>
                <div class="Cell">
                    <p>Total Pairings</p>
                </div>
                <div class="Cell">
                    <p>Total Flights</p>
                </div>
                <div class="Cell">
                    <p>Total Alerts</p>
                </div>
            </div>
            <div class="Row">
                <div class="Cell">
                    <p class="span-cell">DD MM YY</p>
                </div>
                <div class="Cell">
                    <p class="span-cell">####</p>
                </div>
                <div class="Cell">
                    <p class="span-cell">####</p>
                </div>
                <div class="Cell">
                    <p class="span-cell">###</p>
                </div>
            </div>
        </div>

        <div class="table">
         <div class="Row" style="width:100%;"> 
            <div class="Cell" style="width:350px;">
           <div class="chart-container">
            <div id="alert-status-chart" class="chart" donut-chart data="pairingStatusData" height="donutPairingStatusHeight"></div>
          </div>
          </div>

          <div class="Cell" >
            <div style="    padding-top: 12%;
    width: 100%;
    display: inline-block;">
              <div class="small-circle" style="background-color: #b9e9df;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">25</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Scheduled</div>
            </div>
            <div style="    display: inline-block;
    width: 100%;
}">
              <div style="    float: left;
    margin-left: 50px;" class="arrow-down-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">25</div>
            </div>
                        <div style="
    width: 100%;
    display: inline-block;">
    <div class="small-circle" style="background-color: #b6b6b6;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">70</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Affected</div>
            </div>
            <div style="    display: inline-block;
    width: 100%;
}">
              <div style="    float: left;
    margin-left: 50px;" class="arrow-up-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">20</div>
                  <div style="    float: left;
    margin-left: 15px;" class="arrow-right-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">10</div>


                      <div style="    float: left;
    margin-left: 15px;" class="arrow-down-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">40</div>


            </div>
                        <div style="
    width: 100%;
    display: inline-block;">
                  <div class="small-circle" style="background-color: #fed99f;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">25</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Open</div>
            </div>
            <div style="    display: inline-block;
    width: 100%;
}">
              <div style="    float: left;
    margin-left: 50px;" class="arrow-up-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">5</div>


                  <div style="    float: left;
    margin-left: 15px;" class="arrow-right-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">10</div>


                      <div style="    float: left;
    margin-left: 15px;" class="arrow-down-grey-img"></div>
              <div style="    float: left;
    margin-left: 10px;
    font-family: Clan OT;
    color: #5D5D5D;
    font-size: 12px;">10</div>
            </div>



          </div>
          </div>
        </div>

        </div>

      </div>
  </div>
    <div class="col-md-6" style="z-index:-2;">
      <div style="width: 100%;height: 339px;display: inline-block;background-color:white;border: 1px solid #D3D3D3;">
      <div style="height:55px;width:100%;">
        <div style="    float: left;
    display: block;
    font-size: 18px;
    font-family: Clan OT;
    margin-top: 20px;
    color: #555555;
    margin-left: 2%;">My Alerts (12)</div>
          <div style="float:right;display:block;font-size:10px;font-family:Clan OT;margin-top:24px;color:#009BDD;font-weight:bold;margin-right:15px;">View My Lists</div>
      </div>
        <ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
        <li  role="presentation" style="background-color:white;border-right:1px solid #D3D3D3;width:25%;height:59px;
        border-top:4px solid #F3C037;text-align:center;">
          <div style="display:block;font-size:26px;font-family:Clan OT;color:#F3C037;">6</div>
          <div style="display:block;font-size:12px;font-family:Clan OT;color:#F3C037;">PENDING</div>
        </li>
        <li style="background-color:white;border-right:1px solid #D3D3D3;width:25%;height:59px;border-bottom:1px solid #D3D3D3;border-top:1px solid #D3D3D3;text-align:center;border-top:4px solid #32bc76;">
                   <div style="display:block;font-size:26px;font-family:Clan OT;color:#ADADAD;">4</div>
          <div style="display:block;font-size:12px;font-family:Clan OT;color:#ADADAD;">IN PROGRESS</div>
        </li>
        <li style="background-color:white;border-right:1px solid #D3D3D3;width:25%;height:59px;border-bottom:1px solid #D3D3D3;border-top:1px solid #D3D3D3;text-align:center;border-top:4px solid #aaaaaa;" role="presentation">
                   <div style="display:block;font-size:26px;font-family:Clan OT;color:#ADADAD;">2</div>
          <div style="display:block;font-size:12px;font-family:Clan OT;color:#ADADAD;">COMPLETE</div>
        </li>
                <li style="background-color:white;border-right:0px solid #D3D3D3;width:25%;height:59px;border-bottom:1px solid #D3D3D3;border-top:1px solid #D3D3D3; border-right:1px solid #D3D3D3;text-align:center;
                border-top:4px solid #4f8fcb;" role="presentation">
                           <div style="display:block;font-size:26px;font-family:Clan OT;color:#ADADAD;">0</div>
          <div style="display:block;font-size:12px;font-family:Clan OT;color:#ADADAD;">REASSIGNED</div>
                </li>
      </ul>
      <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr style="height:40px;border-bottom:1px solid #ddd !important;">
                  <th style="font-size:12px;color:#555555;font-family:Clan OT;font-weight:bold;text-align:center;">Severity</th>
                  <th style="font-size:12px;color:#555555;font-family:Clan OT;">Type</th>
                  <th style="font-size:12px;color:#555555;font-family:Clan OT;">Last update</th>
                  <th style="font-size:12px;color:#555555;font-family:Clan OT;">Pairing</th>
                  <th style="font-size:12px;color:#555555;font-family:Clan OT;">Flight</th>
                </tr>
              </thead>
              <tbody style="font-size:12px;color:#555555;font-family:Clan OT;">
                <tr style="background-color:white;height:45px;">
                  <td style="text-align:center;">
                    <div class="arrow-up-yellow-img" style="margin-top:5px;text-align:center;"></div>
                  </td>
                  <td style="vertical-align:middle;">SDLY</td>
                  <td style="vertical-align:middle;">09:58</td>
                  <td style="vertical-align:middle;">#####</td>
                  <td style="vertical-align:middle;">2545 EZE - IAH  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delayed</td>
                </tr>
                 <tr style="background-color:white;height:45px;">
                  <td style="text-align:center;">
                    <div class="arrow-up-yellow-img" style="margin-top:5px;text-align:center;"></div>
                  </td>
                  <td style="vertical-align:middle;">DLY</td>
                  <td style="vertical-align:middle;">HH:MM</td>
                  <td style="vertical-align:middle;">####</td>
                  <td style="vertical-align:middle;">#### ORI - DES  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delayed</td>
                </tr>
                 <tr style="background-color:white;height:45px;">
                  <td style="text-align:center;">
                    <div class="arrow-right-yellow-img" style="margin-top:5px;text-align:center;"></div>
                  </td>
                  <td style="vertical-align:middle;">####</td>
                  <td style="vertical-align:middle;">HH:MM</td>
                  <td style="vertical-align:middle;">#####</td>
                  <td style="vertical-align:middle;">#### ORI - DES  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Misconnect</td>
                </tr>
                 <tr style="background-color:white;height:45px;">
                  <td style="text-align:center;">
                    <div class="arrow-down-yellow-img" style="margin-top:5px;text-align:center;"></div>
                  </td>
                  <td style="vertical-align:middle;">####</td>
                  <td style="vertical-align:middle;">HH:MM</td>
                  <td style="vertical-align:middle;">#####</td>
                  <td style="vertical-align:middle;">#### ORI - DES  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Misconnect</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
<div class="row">
      <div class="col-md-6" style="z-index:-2;">
      <div style="width: 100%;height: 388px;display: inline-block; background-color:white;border: 1px solid #D3D3D3;">
            <div style="height:55px;width:100%;">
        <div style="    float: left;
    display: block;
    font-size: 18px;
    font-family: Clan OT;
    margin-top: 20px;
    color: #555555;
    margin-left: 2%;">Alerts Status (24)</div>
          <div style="float:right;display:block;font-size:10px;font-family:Clan OT;margin-top:10px;color:#009BDD;font-weight:bold;margin-right:16px;height:37px;width:145px;border:1px solid #D3D3D3;">
            <div style="width:50%;height:100%;background-color:#F5F5F5;border-right:1px solid #D3D3D3;float:left;display:inline-block;">
              <div style="font-size:12px;color:#b5b5b5;font-family:Clan OT;font-weight:100;    margin-top: 9px;
    margin-left: 9px;">Severity</div>
            </div>
            <div style="width:50%;height:100%;display:inline-block;float:left;">
              <div style="font-size:12px;color:#666666;font-family:Clan OT;font-weight:100;    margin-top: 9px;
    margin-left: 20px;">Type</div>
            </div>
          </div>
      </div>
        <ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
        <li  role="presentation" style="background-color:white;border-right:1px solid #D3D3D3;width:33%;height:59px;
        border-top:4px solid #A9A9A9;text-align:center;">
          <div style="display:block;font-size:14px;font-family:Clan OT;color:#555555;    margin-top: 18px;">##HIGH</div>
        </li>
        <li style="background-color:#E3E5E7;border-right:1px solid #D3D3D3;width:33%;height:59px;border-bottom:1px solid #D3D3D3;border-top:1px solid #D3D3D3;text-align:center;border-top:4px solid #A9A9A9;">
          <div style="display:block;font-size:14px;font-family:Clan OT;color:#555555;    margin-top: 18px;">##MEDIUM</div>
        </li>
        <li style="background-color:#E3E5E7;border-right:1px solid #D3D3D3;width:33%;height:59px;border-bottom:1px solid #D3D3D3;border-top:1px solid #D3D3D3;text-align:center;border-top:4px solid #A9A9A9;" role="presentation">
          <div style="display:block;font-size:14px;font-family:Clan OT;color:#555555;    margin-top: 18px;">##LOW</div>
        </li>
      </ul>

              <div class="table">
         <div class="Row" style="width:100%;"> 
            <div class="Cell" style="width:350px;">
           <div class="chart-container">
            <div id="pairing-status-chart" class="chart" donut-chart data="AlertStatusData" height="donutAlertStatusHeight"></div>
          </div>
          </div>

          <div class="Cell" >
            <div style="    padding-top: 12%;
    width: 100%;
    display: inline-block;">
                            <div class="small-circle" style="background-color: #f4c138;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>

              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">25</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Cancellation</div>
            </div>
                        <div style="
    width: 100%;    margin-top: 10px;
    display: inline-block;">
                            <div class="small-circle" style="background-color: #fd7145;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">25</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Misconnect</div>
            </div>
                        <div style="
    width: 100%;    margin-top: 10px;
    display: inline-block;">
                               <div class="small-circle" style="background-color: #4f8fcb;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">8</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Staffing</div>
            </div>


                                    <div style="
    width: 100%;    margin-top: 10px;
    display: inline-block;">
                               <div class="small-circle" style="background-color: #b9e9df;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">8</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Delay</div>
            </div>

                                    <div style="
    width: 100%;    margin-top: 10px;
    display: inline-block;">
                               <div class="small-circle" style="background-color: #b6b6b6;
    display: inline-block;
    float: left;
    margin-top: 6px;
    margin-right: 10px;"></div>
              <div style="color:#5D5D5D;font-family:Clan OT;font-size:18px;font-weight:500;float:left;">8</div>
              <div style="color: #5D5D5D;
    font-family: Clan OT;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;">Other</div>
            </div>



          </div>
          </div>
        </div>

      </div>
  </div>
  <div class="col-md-3" style="z-index:-2;">
      <div style="width: 100%;height: 388px;display: inline-block; background-color:white;border: 1px solid #D3D3D3;font-size:14px;color:#555555; font-family:Clan OT;">
          <div>
            <div class="background-profile-img"></div>
            <div class="profile-user-img"></div>
          </div>

          <div style="     width: 100%;
    height: 72px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;">
            <div>Hi Mathew!</div>
            <div style="    float: left;
    margin-left: 30%;
    margin-top: 10px;">Scheduler - ORD</div>
            <div style="    float: left;
    margin-top: 11px;
    margin-left: 10px;" class="edit-icon-img"></div>
          </div>

          <div style="border-top:1px solid #DDE1E1;width:95%;height:40px;    margin: 0 auto;
    padding-top: 3%;">Information</div>

          <div style="border-top:1px solid #DDE1E1;width:95%;height:40px;    margin: 0 auto;
    padding-top: 3%;">Notifications</div>

          <div style="border-top:1px solid #DDE1E1;width:95%;height:40px;    margin: 0 auto;
    padding-top: 3%;">All my lists</div>

          <div style="border-top:1px solid #DDE1E1;width:95%;height:40px;    margin: 0 auto;
    padding-top: 3%;">Settings</div>
      </div>
  </div>
    <div class="col-md-3">
      <div style="width: 100%;height: 388px;display: inline-block;background-color:white;border: 1px solid #D3D3D3;">
        <!--
         <ul class="draggable-objects">
            <li  ng-repeat="obj in draggableObjects" >
                <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true"> {{obj.name}} </div>
            </li>
        </ul>
        -->
        <div style="    width: 92%;
    height: 56px;
    border-bottom: 1px solid #D6D6D6;
    margin-left: 4%;">
          <div style="float:left;display:block;font-size:14px;font-family:Clan OT;margin-top:20px;color:#555555;">My To Do List Status</div>
          <div style="float:right;display:block;font-size:10px;font-family:Clan OT;margin-top:24px;color:#009BDD;font-weight:bold;">View My Lists</div>
        </div>
        <div style="    width: 92%;
    height: 45px;
    border-bottom: 1px solid #D6D6D6;
    margin-left: 4%;">
          <div style="float: left;
    display: block;
    font-size: 14px;
    font-family: Clan OT;
    margin-top: 12px;
    padding-left: 5px;
    font-weight: bold;
    color: #555555;">4 Left</div>
        </div>

        <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)" style="    width: 92%;
    height: 50px;
    border-bottom: 1px solid #D6D6D6;
    margin-left: 4%;
    font-family:Clan OT;
    font-size:14px;
    color:#555555;" >

            <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                <input type="checkbox" ng-model="string" style="height:30px;width:30px;float:left;margin-top:-15px;" >
                <div style="float:left;margin-top:-10px;">{{obj.name}}</div>
                <div class="details-task" style="float: right;margin-top: -9px;margin-right: 30px;"></div>
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)" style="    width: 92%;
    height: 50px;
    border-bottom: 1px solid #D6D6D6;
    margin-left: 4%;">

            <div ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                <input type="checkbox" ng-model="string" style="height:30px;width:30px;float:left;margin-top:-15px;" >
                <div style="float:left;margin-top:-10px;">{{obj.name}}</div>
                <div class="details-task" style="float: right;margin-top: -9px;margin-right: 30px;"></div>
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete3($data,$event)" style="    width: 92%;
    height: 50px;
    border-bottom: 1px solid #D6D6D6;
    margin-left: 4%;
        font-family:Clan OT;
    font-size:14px;
    color:#555555;" >

            <div ng-repeat="obj in droppedObjects3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                <input type="checkbox" ng-model="string" style="height:30px;width:30px;float:left;margin-top:-15px;" >
                <div style="float:left;margin-top:-10px;">{{obj.name}}</div>
                <div class="details-task" style="float: right;margin-top: -9px;margin-right: 30px;"></div>
            </div>
        </div>
        <div ng-drop="true" ng-drop-success="onDropComplete4($data,$event)" style="    width: 92%;
    height: 50px;
    border-bottom: 1px solid #D6D6D6;
    margin-left: 4%;
        font-family:Clan OT;
    font-size:14px;
    color:#555555;">

            <div ng-repeat="obj in droppedObjects4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                <input type="checkbox" ng-model="string" style="height:30px;width:30px;float:left;margin-top:-15px;" >
                <div style="float:left;margin-top:-10px;">{{obj.name}}</div>
                <div class="details-task" style="float: right;margin-top: -9px;margin-right: 30px;"></div>
            </div>
        </div>

                <div style="width:100%;height:40px;">
          <div style="float:left;display:block;font-size:15px;font-family:arial;margin-top:8px;padding-left: 28px;">
            <div class="add-todotask" style="float:left;"></div>
            <div style="margin-left: 20px;float: left;margin-top: 5px;font-family:Clan OT;
    font-size:14px;
    color:#555555;"> Add new item </div>
          </div>
        </div>

        <div style="    width: 90%;
    height: 40px;
    margin-left: 15px;
    margin-top: 5px;">
          <div style="float:left;display:block;font-size:14px;font-family:arial;margin-top:8px;padding-left:15px;font-weight:bold;color:#555555;font-family:Clan OT;">6 Done</div>
        </div>

      </div>
  </div>
</div>
</div>
</snap-content>

  <style>

    *{
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    [ng-drag]{
      width: 100%;
      height: 40px;
      color: grey;
      text-align: left;
      padding-top: 26px;
      display: inline-block;
      cursor: move;
      margin-left: 14px;
    }
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
    .draggable-objects li{
        float:left;
        display: block;
        width: 120px;
        height:100px;
    }
    [ng-drag].drag-over{
        border:solid 1px #555555;
    }
    [ng-drag].dragging{
        opacity: 0.5;
    }
    [ng-drop]{
    text-align: center;
    height: 40px;
    display: block;
    margin: auto;
    position: relative;
    border-bottom: solid 1px grey;
    }
    [ng-drop].drag-enter{
        border:solid 2px #555555;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        width: 200px;
        height: 20px;
        margin-left: -100px;
        margin-top: -10px;
    }
    [ng-drop] div{
        position: relative;
        z-index: 2;
    }

  </style>

<!--
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top:25px;">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
-->

   