
<nav class="navbar navbar-default navbar-fixed-top dynamic-header">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="burger">
          <div snap-toggle="" class="nav-burger-img"></div>
        </li>
        <li>
          <div class="logo-united-img"></div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="padding-top: 3px;">
          <div class="search-img"></div>
        </li>
        <li class="new-messages">
          <div class="circle-msg">3</div>
          <div class="mail-img"></div>
        </li>
        <li class="my-profile">
          <div class="myprofile-img"></div>
        </li>
        <li>
          <div class="user">Mathew Smith</div>
        </li>
        <li>
          <div class="arrow-down-icon" ng-click="open()"></div>
        </li>
        <li class="settings">
          <label  for='menu-checkbox'>
            <div class="settings-img advanced-filter-img " for="menu-checkbox"></div>
          </label>
        </li>
      </ul>
    </div>

<!-- Solution List / Alert Details section -->

    <div class="single-title" ng-show="name === 'Alerts display' || name === 'Schedule display'">
        <div class="title">{{ name }}</div>
        <div class="updated" ng-show="sectionname === 'Schedule display'">
          Updated 17:17
        </div>
    </div>

    <div class="alertdetail-solutionlist">
      <div ng-show="name!=='Alerts display' && name !== 'Schedule display'">
      <div class="alert-details" ng-click="navigate('alert details')">
          Alert details
          <div class="underlined" ng-show="sectionname==='Alert details'"></div>
      </div>
      <div class="solutions-list" ng-click="navigate('solution list')">
          Solutions list
          <div class="underlined" ng-show="sectionname==='Solutions list'"></div>
          </div>
       </div>
      </div>


      <!--sort by is never displayed, ng-show is false-->
      <div class="sort-section" ng-show="false">
        <div class="sort-by">Sort by</div>
        <div class="sort-flight">
          <div class="flight">Flight#</div>
          <div class="img-arrow-down"></div>
        </div>
      </div>

  </div>
</nav>