
<nav class="navbar navbar-default navbar-fixed-top" style="    z-index: -1;
    position: relative;">
      <div class="container" style="background-color:#009BDD;height:127px;">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"     style="margin-left: 10px;">
              <div snap-toggle="" class="nav-burger-img" style="cursor: pointer; cursor: hand;"></div>
            </li>
            <li>
              <div class="logo-united-img" style="margin-left:50px;margin-top:12px;"></div>
            </li>
          </ul>
<ul class="nav navbar-nav navbar-right">
            <li style="
    padding-top: 3px;
">
              <div class="search-img" style="margin-right:33px;"></div>
            </li>
            <li style="width: 66px;
  position: relative;height: 50px;padding-top: 3px;">
              <div class="circle-msg" style="
    position: absolute;      
    margin-top: 20px;
    margin-left: 18px;
    z-index: 10;
    padding-left: 6px;
    font-family: Clan OT;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
">3</div>
              <div class="mail-img" style="margin-right:33px;position: absolute;"></div>

            </li>
            <li style="
    padding-top: 3px;
">
              <div class="myprofile-img" style="margin-right:10px;margin-top:10px;"></div>
            </li>
            <li style="
    padding-top: 3px;
">
              <div style="font-family:Clan OT; color:white;font-size:14px;margin-top:14px;margin-right:10px;">Mathew Smith</div>
            </li>
            <li style="
    padding-top: 3px;
">
              <div class="arrow-down-icon" style="margin-top:21px;margin-right:25px;" ng-click="open()"></div>
            </li>
                        <li style="
    padding-top: 7px;
">
  <label  for='menu-checkbox'>
    <div class="settings-img advanced-filter-img " for="menu-checkbox" style="margin-right:40px;">
  </label>
  </li>

          </ul>
        </div>

<!-- Solution List / Alert Details section -->

<div style="    font-family: Clan OT;
    font-size: 20px;
    color: white;
    margin-left: 39px;
    display: inline-block;
    margin-top: 5px;
    float: left;
    width:100%;">
    <div style="float:left;display:inline-block;">{{ sectionname }} </div>
    <div style="float:left;display:inline-block;font-size:11px;font-family:Clan OT;margin-left:10px;margin-top:12px;"
         ng-show="sectionname==='Alerts Display'">
      Updated 17:17
    </div>
</div>

<div ng-show="sectionname==='Solutions list'">
<div style="    font-family: Clan OT;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    float: left;
    display: inline-block;
    margin-left: 38px;    width: 150px;    text-align: center;
    line-height: 16px;">Alert details

    <!--<div style="border: 3px solid #003399;
    display: inline-block;
    width: 130px;"></div>-->

    </div>
<div style="    font-family: Clan OT;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    float: left;
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 16px;">Solutions list
    <div style="border: 3px solid #003399;
    display: inline-block;
    width: 130px;"></div>
    </div>
 </div>

          <div style="float:right;display:inline-block;" ng-show="false">
        <div style="float:left;display:inline-block;font-size:14px;color:#4F5571;font-family:Clan OT;margin-top: 6px;
    margin-right: 10px;font-weight:bold;">Sort by</div>
        <div style="border:1px solid #4F5571;width:106px;height:32px;display:inline-block;margin-right:38px;">
          <div style="font-family:Clan OT;font-size:14px;color:#4F5571;float:left;margin-top:5px;margin-left:8px;">Flight#</div>
          <div class="img-arrow-down" style="float:left;margin-top:12px;margin-left:15px;"></div>
        </div>
      </div>

      </div>
</nav>