<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!--  Header -->

<header name="'Alerts Information'" sectionname="'Solutions list'"></header>
<!--  Header --> 

<snap-content>



<div class="solutions">
	<div class="row">
		<!-- left side solutions filter -->
		<div class="solutions-filter col-md-2">
			
			<div class="row">
				<div class="col-md-12">
					<p style="margin-top: 14px;"><span class="clanOT-font font-large" >Solutions filters</span></p>
				</div>
			</div>

			<!-- calendar from - to -->
			<div class="row calendar">
				<div class="col-md-6">
					<div><span class="clanOT-font font-medium">From</span></div>
					<button type="button" class="btn btn-default grey-filters no-text-shadow clanOT-font btn-filter font-medium">MM/DD <span class="glyphicon glyphicon-calendar pull-right"></span></button>
				</div>

				<div class="col-md-6">
					<div><span class="clanOT-font font-medium">To</span></div>
					<button type="button" class="btn btn-default grey-filters no-text-shadow clanOT-font btn-filter font-medium">MM/DD <span class="glyphicon glyphicon-calendar pull-right"></span></button>
				</div>
			</div>

			<!-- crew -->
			<div class="row group-spacing crew">
				<div class="col-md-12">
					<div><span class="clanOT-font font-medium">Crew</span></div>
					<div class="btn-group btn-group-md crew-grp" role="group">
					  <button type="button" class="btn btn-default grey-filters no-text-shadow btn-filter font-medium" >All</button>
					  <button type="button" class="btn btn-default white-filters no-text-shadow clanOT-font btn-filter font-medium crew-middle">Pilot</button>
					  <button type="button" class="btn btn-default grey-filters no-text-shadow clanOT-font btn-filter font-medium">FA</button>
					</div>
				</div>
			</div>

			<!-- Positions -->
			<div class="row group-spacing">
				<div class="col-md-12">
					<div><span class="clanOT-font font-medium">Positions</span></div>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle max-width grey-filters text-left no-text-shadow clanOT-font btn-filter font-medium drop-filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Captain & FO
						<span class="arrow-dropdown-img"></span>
						</button>
					</div>
				</div>
			</div>

			<!-- Status -->
			<div class="row group-spacing">
				<div class="col-md-12">
					<div><span class="clanOT-font font-medium">Status</span></div>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle max-width grey-filters text-left no-text-shadow clanOT-font btn-filter font-medium drop-filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    All
						<span class="arrow-dropdown-img"></span>
						</button>
					</div>
				</div>
			</div>

			<!-- Fleet -->
			<div class="row group-spacing">
				<div class="col-md-12">
					<div><span class="clanOT-font font-medium">Fleet</span></div>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle max-width grey-filters text-left no-text-shadow clanOT-font btn-filter font-medium drop-filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    747
						<span class="arrow-dropdown-img"></span>
						</button>
					</div>
				</div>
			</div>

			<!-- Domicile -->
			<div class="row group-spacing">
				<div class="col-md-12">
					<div><span class="clanOT-font font-medium">Domicile</span></div>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle max-width grey-filters text-left no-text-shadow clanOT-font btn-filter font-medium drop-filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    ORD
						<span class="arrow-dropdown-img"></span>
						</button>
					</div>
				</div>
			</div>

			<!-- Apply button -->
			<div class="row group-spacing apply">
				<div class="col-md-12">
					<button class="btn btn-apply max-width clanOT-font font-small"><span class="no-text-shadow">Apply</span></button>
				</div>
			</div>

			<!-- reset all -->
			<div class="row group-spacing">
				<div class="col-md-12">
					<p class="text-center clanOT-font font-small" style="font-weight:bold;"><span class="blue-font no-text-shadow">Reset all</span></p>
				</div>
			</div>			

		</div>













		<!-- right side solutions results -->
		<div class="solutions-result col-md-10">
			<div class="row">
				<div class="col-md-6">
					<div class="pull-left large-font clanOT-font font-large">25 Results</div>
				</div>
				<div class="col-md-6">
					<div class="pull-right clanOT-font font-small">Download <span class="glyphicon glyphicon-circle-arrow-down"></span> </div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="pull-left medium-font clanOT-font font-medium">14 Lineholders</div>
				</div>
				<div class="col-md-6">
					<div class="pull-right"> <span class="glyphicon glyphicon-menu-down"></span> </div>
				</div>
			</div>

			<div class="divide-line"></div>

			<!--  -->
			<div class="row lineholders-header">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-2">
							<div class="clanOT-font font-small domicile">Domicile 
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>--></div>
						</div>
						<div class="col-md-8">
							<label class="clanOT-font font-small employee">Employee 
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
							</label>
						</div>
						<div class="col-md-2">
							<div class="clanOT-font font-small">Pairing 
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="margin-top:-14px;">
					<div class="row">
						
						<div class="col-md-3">
							<div class="clanOT-font font-small block-time">Block time
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
							</div>
						</div>
						<div class="col-md-3">
							<div class="clanOT-font font-small duty-day">Duty day</div>
						</div>
						<div class="col-md-6">
							<div class="clanOT-font font-small">Next</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">
							<div class="clanOT-font font-small">Dpt time 
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
							</div>
						</div>
						<div class="col-md-4">
							<div class="clanOT-font font-small">Legal</div>
						</div>
						<div class="col-md-4">
							<div class="clanOT-font font-small">Info</div>
						</div>
					</div>
				</div>
			</div>



			
			<div class="solid-border lineholders-data">
				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="first-section font-grid">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">03</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span  class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid clanOT-font font-small">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- collapse start -->
				<div class="collapse" id="collapseLineHolders">

				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid clanOT-font font-small">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid clanOT-font font-small">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid clanOT-font font-small">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid clanOT-font font-small">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid first-section">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">########</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid"> <span class="link">#####</span> </div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row second-section">
								
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-3">
									<div class="font-grid clanOT-font font-small">##</div>
								</div>
								<div class="col-md-6">
									<div class="font-grid clanOT-font font-small">### ORI - DES</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small">HH:MM</div>
								</div>
								<div class="col-md-4">
									<div class="font-grid clanOT-font font-small"> <span class="link">View</span> </div>
								</div>
								<div class="col-md-4">
									<span class="glyphicon glyphicon-option-vertical"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				</div>
				<!-- collapse end -->

				<div class="view-more">
					<div class="row row-spacing">
						<div ng-click="moreLineHolders()" class="text-center font-grid"> <span class="link">
						<div class="display-inline" ng-show="showMoreLineHoldersButton">View</div>
						<div class="display-inline" ng-show="!showMoreLineHoldersButton">Hide</div>
						9 more</span> </div>
					</div>
				</div>
			</div>





			


			<div class="row">
				<div class="col-md-6">
					<div class="pull-left large-font clanOT-font font-medium">11 Reserves</div>
				</div>
				<div class="col-md-6">
					<div class="pull-right"> <span class="glyphicon glyphicon-menu-down"></span> </div>
				</div>
			</div>

			<div class="divide-line"></div>

			

			<!--  -->
			<div class="row reserves-header">
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-2">
							<div class="clanOT-font font-small domicile">Domicile
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
							</div>
						</div>
						<div class="col-md-8">
							<label class="clanOT-font font-small">Employee 
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
							</label>
						</div>
						<div class="col-md-2">
							<div class="clanOT-font font-small type">Type 
							<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>--></div>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<div class="col-md-4">
						<div class="clanOT-font font-small">Seniority 
						<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
						</div>
					</div>
					<div class="col-md-4">
						<div class="clanOT-font font-small">Start date 
						<!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>-->
						</div>
					</div>
					<div class="col-md-4">
						<div class="clanOT-font font-small">Days av. <!--<span class="glyphicon glyphicon-triangle-bottom small-icon"></span>--></div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="col-md-4">
						<div class="clanOT-font font-small next-pair">Next pairing</div>
					</div>
					<div class="col-md-4">
						<div class="clanOT-font font-small">Legal</div>
					</div>
					<div class="col-md-4">
						<div class="clanOT-font font-small">Info</div>
					</div>
				</div>
			</div>


			<!--  -->
			<div class="solid-border reserves-data">
				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">01</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div  class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>


				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>


				<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>


				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="blue-font">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>

				<!-- collapse start -->
				<div class="collapse" id="collapseReserves">

								<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>


				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="blue-font">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>

								<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>


				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="blue-font">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>

								<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>


				<div class="solid-border-down">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="blue-font">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>

								<div class="solid-border-down grey-row">
					<div class="row row-spacing">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-2">
									<div class="font-grid domicile">###</div>
								</div>
								<div class="col-md-8">
									<div class="font-grid">CA <span class="link">#######</span> Lastname, Name</div>
								</div>
								<div class="col-md-2">
									<div class="font-grid rsv-type">RSV type</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="col-md-4">
								<div class="font-grid">#####</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">MM/DD</div>
							</div>
							<div class="col-md-4">
								<div class="font-grid">##</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="col-md-4">
								<div class="font-grid next-pair"><span class="link">######</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid"><span class="link">view</span></div>
							</div>
							<div class="col-md-4">
								<div class="font-grid info"> <span class="glyphicon glyphicon-option-vertical"></span> </div>
							</div>
						</div>
					</div>
				</div>



				</div>
				<!-- collapse end -->


				<div class="view-more">
					<div class="row row-spacing">
						<div ng-click="moreReserve()" class="text-center font-grid"> <span class="link">
						<div class="display-inline" ng-show="showMoreReservesButton">View</div>
						<div class="display-inline" ng-show="!showMoreReservesButton">Hide</div>
						7 more</span> </div>
					</div>
				</div>


		</div>
	</div>
</div>


</snap-content>

