<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" style="background-color:#009BDD;height:127px;">
        <div id="navbar" class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="active">
              <div snap-toggle="" class="nav-burger-img" style="cursor: pointer; cursor: hand;"></div>
            </li>
            <li>
              <div class="logo-united-img" style="margin-left:50px;margin-top:12px;"></div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-top: 3px;">
              <div class="search-img" style="margin-right:33px;"></div>
            </li>
            <li style="width: 66px; position: relative;height: 50px;padding-top: 3px;">
              <div class="circle-msg" style="position: absolute; margin-top: 20px; margin-left: 18px; z-index: 10; padding-left: 6px; font-family: Clan OT; color: white; font-size: 13px; font-weight: bold; padding-top: 2px;">3</div>
              <div class="mail-img" style="margin-right:33px;position: absolute;"></div>
            </li>
            <li style="padding-top: 3px;">
              <div class="myprofile-img" style="margin-right:10px;margin-top:10px;"></div>
            </li>
            <li style="padding-top: 3px;">
              <div style="font-family:Clan OT; color:white;font-size:14px;margin-top:14px;margin-right:10px;">Mathewasd Smith</div>
            </li>
            <li style="padding-top: 3px;">
              <div class="arrow-down-icon" style="margin-top:21px;margin-right:25px;" ng-click="open()"></div>
            </li>
            <li style="padding-top: 7px;">
              <label  for='menu-checkbox'>
                <div class="settings-img advanced-filter-img " for="menu-checkbox" style="margin-right:40px;"></div>
              </label>
            </li>

          </ul>
        </div>

        <div style="font-family: Clan OT; font-size: 20px; color: white; margin-left: 39px; display: inline-block; margin-top: 5px; float: left;">Schedule Display</div>
        <div style="font-family: Clan OT; font-size: 11px; color: white; margin-top: 15px; float: left; display: inline-block; margin-left;">Updated 17:17</div>


        <div style="float:right;display:inline-block;">
          <div style="float:left;display:inline-block;font-size:14px;color:#4F5571;font-family:Clan OT;margin-top: 6px; margin-right: 10px;font-weight:bold;">Sort by</div>
          <div style="border:1px solid #4F5571;width:106px;height:32px;display:inline-block;margin-right:38px;">
            <div style="font-family:Clan OT;font-size:14px;color:#4F5571;float:left;margin-top:5px;margin-left:8px;">Flight#</div>
            <div class="img-arrow-down" style="float:left;margin-top:12px;margin-left:15px;"></div>
          </div>
        </div>

      </div>

    </nav>





<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul>
    </div>
  </div>
</nav>